<%= form_for(@invoice) do |f| %>

      <div class="field">
      <%= f.label :Client %>
      <%= f.collection_select :user_id, User.order(:business_name), :id, :business_name, include_blank: true %><br><br>
      </div>
      <div class="field">
      <%= f.label :invoice_number %>
      <%= f.text_field :invoice_number %>
      </div>

     <div class="field">
      <%= f.fields_for :line_items do |builder| %>
      <%= render 'line_item_fields', f: builder %>
    <% end %>
    </div>

    <%= link_to_add_fields "Add Item", f, :line_items %>
    <div class="actions">
          <%= f.submit %>
    </div>
      <% end %>

</div>