<%= form_for(@invoice) do |f| %>

      <div>
      <%= f.label :Client %><br />
      <%= f.collection_select :user_id, User.order(:business_name), :id, :business_name, include_blank: true %><br><br>
      </div>
      <div>
      <%= f.label :invoice_number %><br>
      <%= f.text_field :invoice_number %>
      </div>
     <br>
     <br>
    <%= f.fields_for :line_items do |builder| %>
    <%= render 'line_item_fields', f: builder %>
    <% end %>
    <br>
    <%= link_to_add_fields "Add Item", f, :line_items %>
    <div class="actions">
          <%= f.submit %>
    </div>
      <% end %>

