<%= form_tag search_users_path, classa: 'form' do %>
    <%= text_field_tag "search_query", nil, placeholder: 'Search text' %>
    <%= submit_tag "Search", class: 'radius button tiny' %>
<% end %>


  <h1>Contacts</h1>
    <div class="row">
      <% @users.each do |user| %>
        <ul>
         <li><%= user.first_name %></li>
         <li><%= user.last_name %></li>
         <li><%= user.phone %></li>
         <li><%= user.email %></li>
         <li><%= user.business_name %></li>
         <li><%= user.industry %></li>
         <li><%= user.naics_code %></li>
       </ul> 
             <% end %>
    </div>
