<div class="signup">
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
 
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>

    <div class="field">
      <%= f.label :business_name %>
      <%= f.text_field :business_name, placeholder: "Business Name" %>
    </div>

    <div class="field">
      <%= f.label :business_address %>
      <%= f.text_field :business_address, placeholder: "Business Address" %>
    </div>

    <div class="field">
      <%= f.label :naics_code %>
      <%= f.number_field :naics_code, placeholder: "Naics Code" %>
    </div>


    <div class="field">
      <%= f.label :industry %>
      <%= f.text_field :industry, placeholder: "Industry" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Create Password" %>
    </div>
    <div class="field">
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    </div>
<hr>
    <div class="actions"><%= f.submit "Sign Up" %></div>
      <% end %>
  
</div>