

<html>

<body>

 <header>
  <h2>CCS</h2>
  <h4>Continuum Consulting Services</h4>
 </header>
 <div class="center">
 <%='About Us'%>
 <%='Expertise & Impact'%>
 <%='Expertise & Impact'%>
 <%='Contact Us'%>
 <%='Blog'%>

 </div>
  <div class="wildlife">
        <h1>Shaping The Future Together.</h1>
        <div class="newspaper">
          <a href="#openModal"><div class="text"><%=image_tag 'woman_ent.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

          <a href="#openModal"><div class="text"><%=image_tag 'industry.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

          <a href="#openModal"><div class="text"><%=image_tag 'Army_1.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

        </div>

        <div class="newspaper">
          <a href="#openModal"><div class="text"><%=image_tag 'industry.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>


          <a href="#openModal"><div class="text"><%=image_tag 'industry.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

          <a href="#openModal"><div class="text"><%=image_tag 'industry.png'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Modal Box</h2>
              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

		</div>
  </div>
</body>

</html>