

<html>

<body>

 <header>
   <div class="center">
  <%= image_tag 'logo_1.png' %>
  <h4>Continuum Consulting Management Group</h4>
   </div>
 </header>

 <div class="columnContainer">
  <div class="leftcolumn">
  <div class="center">
    <%=link_to'About Us'%>
    <%=link_to'Expertise & Impact'%>
    <%=link_to'Mastermind Group'%>
    <%=link_to 'Contact Us', new_message_path%>
    <%=link_to'New Newsletter', new_newsletter_path%>
    <%=link_to'New Subscriber', new_subscriber_path%>
    <%=link_to'Blog'%>
 </div>

  <div class="wildlife">
        <h1>Shaping The Future Together.</h1>
        <div class="newspaper">
          <a href="#openModal"><div class="text"><%=image_tag 'bcg_2.jpg', class: 'img'%></div></a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>About Us</h2>
             <%= render 'pages/about'%>
            </div>
          </div>


          <a href="#openModal2"><div class="text"><%=image_tag 'bcg_1.jpg', class: 'img'%></div></a>
          <div id="openModal2" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
             <%= render 'pages/company_profile'%>
            </div>
          </div>



          <a href="#openModal3"><div class="text"><%=image_tag 'woman_ent.png', class: 'img'%></div></a>
          <div id="openModal3" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <%= render 'pages/mission'%>
              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
          </div>

        </div>

        <div class="newspaper">
          <a href="#openModal4"><div class="text"><%=image_tag 'bcg_3.jpg', class: 'img'%></div></a>
          <div id="openModal4" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <%= render 'pages/core_values'%>
            </div>
          </div>


          <a href="#openModal5"><div class="text"><%=image_tag 'bcg_4.jpg', class: 'img'%></div></a>
          <div id="openModal5" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <%= render 'pages/highlights'%>

            </div>
          </div>

          <a href="#openModal6"><%=image_tag 'bcg_1.jpg', class: 'img'%></a>
          <div id="openModal6" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <%= render 'pages/leadership' %>
            </div>
          </div>

		</div>
    </div>
  </div>

 </div>
</body>

</html>
