<%= form_for(@subscriber) do |f| %>
<% if @subscriber.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

    <ul>
    <% @subscriber.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<form id=payment>
  <fieldset>
    <legend>Your details</legend>
    <ol>
      <li>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Enter First Name" %>
      </li>
      <li>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Enter Last Name" %>
      </li>
      <li>
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: "Enter Email" %>
      </li>
  <div class="actions">
    <%= f.submit "Start Subscription"  %>
  </div>
  <% end %>
 </fieldset>
</form>
