<html>


<div class="header">
  <div class="header-info">
    <div class="header-info-titles header-info-titles align-center">
            <h1 class="header-info">Welcome to CCM's Blog</h1>
    </div>
  </div>
</div>

<div class="wrapper">
  <div id="main">
    <p id="P_1">
        <%= Post.first.created_at.strftime(' %b %d, %Y') %>
    </p>
      <span id="SPAN_1">
        <%= Post.first.title %>
      </span>
      <p id="P_1">
       <%= Post.first.body %>
      </p>
  </div>

  <div id="sidebar" class="scrollable">
    <div class="content-wrapper">
      <div class="content">

        <% @post.each do |post| %>
        <p id="P_1">
            <%= post.title %>
        </p>
        <p id="P_1">
            <%= post.created_at.strftime(' %b %d, %Y') %>
        </p>
           <% end %>
      </div>
    </div>
  </div>
</div>
</html>
