<html>


<div class="header">
  <div class="header-info">
    <div class="header-info-titles header-info-titles align-center">
            <h1 class="header-info">Welcome to CCM's Blog</h1>
    </div>
  </div>
</div>
<body>

<div id="wrapper">

  <div id="sidebar" class="scrollable">
    <div class="content-wrapper">
      <div class="content">

        <% @post.each do |post| %>
        <p>
            <%= post.title %>
        </p>
        <p>
            <%= post.created_at.strftime(' %b %d, %Y') %>
        </p>
           <% end %>
      </div>
    </div>
  </div>

  <div id="main">
    <p>
        <%= Post.first.created_at.strftime(' %b %d, %Y') %>
    </p>
      <span>
        <%= Post.first.title %>
      </span>
      <p>
       <%= Post.first.body %>
      </p>
  </div>

</div>
</body>
</html>
