<!DOCTYPE html>
<html>
<head>
  <title>ContinuityConsulting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", content: ENV["STRIPE_PUBLIC_KEY"] %>
</head>

<body class="body-welcome">

<div>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>

<nav class="logo">
  <%= image_tag 'logo_1.png' %>
</nav>
<nav>
  <%= link_to "Home", "/" %>
  <%= link_to "About", pages_about_path %>
  <%= link_to "Blog", posts_path %>
  <%= link_to "Newsletter", newsletters_path %>
  <%= link_to "Mastermind Group", new_membership_path %>
  <%= link_to "Contact Us", new_message_path %>
  <% if current_user %>
         Welcome, <%= current_user.first_name %>.
      <%= link_to "Log Out", logout_path %>
      <%= link_to 'Create Invoice', new_invoice_path %>
<% else %>
       <%= link_to "Sign Up", signup_path %> or
       <%= link_to "Log In", login_path %>
    <% end %>
  </nav>
<div>
<%= yield %>

</div>

<footer>
  <div class="container">
    <div class="row text-center">

      <div class="col-md-4">
        <h4>About Us</h4>
        <p>Leadership</p>
        <p>Blog</p>
        <p>Newsletter</p>
        <p>Company Profile</p>
        <p>Our Core Values</p>
        <p>Company Highlights</p>
        <p>Company Mission</p>
        <p>Contact Us</p>



      </div>

      <div class="col-md-4">
       <h4>Who We Assist</h4>
       <p>Small Businesses</p>
       <p>Corporations</p>
       <p>Government</p>
      </div>

     <div class="col-md-4">
      <h4>Our Capabilities</h4>
      <p>Mastermind Group</p>
      <p>Financial Management</p>
      <h4>Stay Connected</h4>
      <a href="https://twitter.com/@MrmcB1" class="twitter-follow-button" data-show-count="false">Follow @mscriven23</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


     </div>
   </div>

 </div>
</footer>

</body>
</html>
